* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(128, 145, 131);
    padding-block: 1rem;
}

main {
    padding: 5px;
}

h1,
h2,
h3 {
  text-align: center;
}

.checklist {
  padding-top: 3%;
}

.checklist > h2 {
  text-decoration: underline;
  padding-bottom: 15px;
}

ol {
  margin: auto;
  padding: 10%;
  padding-top: 0;
}

li {
  padding-bottom: 10px;
}

/* Images */
.pfp {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin: auto;
    border: 3px double black;
    overflow: hidden;
    position: relative;
    margin-block: 5px;
}

img {
    position: absolute;
    top: -20%;
    width: 100%;
}
